.row
	.large-3.columns
		#new_supermarket_form
	.large-9.columns
		#all_supermarkets_div
			%ul#all_supermarkets_ul
				= render :partial => 'supermarket', :collection => @supermarkets, :as => 'supermarket'